@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

:root {
  --bg-color: #f8f7fc;
  --text-color: gray;
}

html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  background-color: var(--bg-color);
}
a {
  text-decoration: none;
  color: inherit;
}
hr {
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}
p {
  font-size: 16px;
}

.pothe__pothe__admin__app__content {
  display: flex;
}
